$min-big-screen: 'only screen and (min-width:1800px)';
$min-big-screen2: 'only screen and (min-width:1450px)';
$min-lab: 'only screen and (min-width:1200px)';
$mac: 'only screen and (min-width:1200px) and (max-width:1300px)';
$min-ipad: 'only screen and (min-width:1024px)';
$under-min-ipadPro: 'only screen and (max-width:1025px)';
$lg: 'only screen and (min-width:992px) and (max-width:1199px)';
$ipad: 'only screen and (min-width:768px) and (max-width:991px)';
$up-min-ipad: 'only screen and (min-width:992px)';
$under-min-ipad: 'only screen and (max-width:991px)';
$media-g-up: 'only screen and (min-width:768px)';
$media-g: 'only screen and (max-width:767px)';
$mobile-y: 'only screen and (min-width:481px) and (max-width:767px)';
$mobile-x: 'only screen and (max-width:480px)';