@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&display=swap");
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-family: 'Hanover-Thin';
  src: url("../fonts/FontsFree-Net-Hanover-Thin.ttf") format("truetype");
}

@font-face {
  font-family: 'Hanover-Bold';
  src: url("../fonts/FontsFree-Net-Hanover-Bold.ttf") format("truetype");
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.color_T {
  color: #d61d1d;
}

.color_W {
  color: white !important;
}

body,
html {
  overflow-x: hidden;
  padding: 0 !important;
  font-family: 'Hanover-Thin' !important;
  background: #000;
}

.project-container {
  max-width: 2000px;
  margin: auto;
}

.banner {
  width: 100%;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.banner .navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding-left: 3vw;
  padding-right: 3vw;
}

.banner .navbar .nav-link {
  color: white;
}

.banner .navbar li.nav-item {
  margin: 0 1vw;
}

.banner .navbar .navbar-nav {
  margin: auto;
}

.banner .navbar .social-icon li {
  background: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  margin-left: .6em;
  line-height: 1.9;
}

.banner .navbar .social-icon li a {
  color: black;
}

.banner img {
  max-width: 100%;
}

.banner .img1 {
  width: 105%;
  height: 100%;
}

.banner .img2 {
  position: absolute;
  width: 40%;
  top: 0%;
  right: 0;
}

.banner .call-to-action-text {
  position: absolute;
  top: 15%;
}

.banner .img4 {
  position: absolute;
  width: 20%;
  top: 10%;
  right: -6%;
}

.banner .logo-container {
  position: absolute;
  bottom: 7%;
}

.banner .land-container {
  position: absolute;
  bottom: 0;
  width: 150%;
  right: 0;
}

.sec1 {
  margin-top: 5em;
}

.sec1 section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .sec1 section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .banner .logo-container {
    width: 35%;
    top: 10%;
    left: 3%;
  }
  .banner .call-to-action-text {
    width: 35%;
    top: 28%;
    right: 30%;
  }
  .banner .land-container {
    width: 112%;
    bottom: -7%;
    left: -5%;
  }
}

.sec1 .card {
  position: relative;
  width: 340px;
  height: 260px;
  margin: 10px 14px;
  text-align: center;
  background: url("../images/icon BG.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-transform: rotateX(0) rotateY(0);
          transform: rotateX(0) rotateY(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease !important;
          transition-timing-function: ease !important;
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.sec1 .card img {
  max-width: 200px;
  margin: auto;
}

.sec1 .card p {
  font-size: 15px;
  font-weight: 300;
  font-family: 'Kanit', sans-serif !important;
}

.sec1 .help img {
  max-width: 200px;
  margin: 0 auto;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.sec1 .help .card {
  margin-top: 6em;
}

.sec1 .card__image img {
  max-width: 100%;
  height: auto;
  mix-blend-mode: lighten;
}

.sec1 .card__heading {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #FFF;
}

.sec1 .card__heading .small {
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 10px;
  -webkit-transform: translateZ(15px);
          transform: translateZ(15px);
}

.sec1 .card__heading h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Kanit', sans-serif !important;
  margin: 0;
  margin-bottom: 0.8em;
  -webkit-transform: translateZ(30px);
          transform: translateZ(30px);
  text-transform: capitalize;
}

.sec1 .card.is-out {
  -webkit-transform: rotateX(0) rotateY(0) !important;
          transform: rotateX(0) rotateY(0) !important;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.title {
  position: relative;
  color: white;
  text-align: center;
}

.title .bold {
  font-family: 'Hanover-Bold' !important;
  color: #d61d1d;
}

.title .right {
  position: absolute;
  right: -10%;
  bottom: 0;
}

.title .left {
  position: absolute;
  left: -10%;
  bottom: 0;
}

.sec2 .card {
  width: 340px;
  height: 400px;
  background: inherit;
}

.sec2 .card img {
  max-width: inherit;
  width: 100%;
  margin: 0;
}

.sec3 .swiper {
  position: relative;
}

.sec3 .swiper .button-prev,
.sec3 .swiper .button-next {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  z-index: 1;
}

.sec3 .swiper .button-prev {
  background-image: -webkit-gradient(linear, left top, right top, from(#000), color-stop(#000), color-stop(#000000d9), color-stop(#000000cf), color-stop(#0000007d), to(transparent));
  background-image: linear-gradient(to right, #000, #000, #000000d9, #000000cf, #0000007d, transparent);
  left: -200px;
}

.sec3 .swiper .button-next {
  background-image: -webkit-gradient(linear, right top, left top, from(#000), color-stop(#000), color-stop(#000000d9), color-stop(#000000cf), color-stop(#0000007d), to(transparent));
  background-image: linear-gradient(to left, #000, #000, #000000d9, #000000cf, #0000007d, transparent);
  right: -200px;
}

.sec3 .swiper .over-flow-hidden {
  overflow: hidden;
}

.sec3 .swiper-slide {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 160px !important;
  width: 160px !important;
  margin: auto;
  border: #0e1c34 15px solid;
  border-radius: 50%;
}

.sec4 .form {
  max-width: 700px;
  margin: auto;
  background: #0d1c34;
  padding: 2em;
  border-radius: 30px;
}

.sec4 .form input,
.sec4 .form textarea,
.sec4 .form select {
  width: 100%;
  margin-bottom: 1.5em;
  height: 40px;
  padding: .5em 1em;
  font-family: 'Kanit', sans-serif !important;
  border-radius: 10px;
  border: 0;
}

.sec4 .form option,
.sec4 .form .form-select {
  color: #757575;
}

.sec4 .form textarea {
  height: inherit;
}

.sec4 .form button {
  font-family: 'Kanit', sans-serif !important;
  font-weight: bold;
  font-size: 19px;
  background: #d61d1d;
  border-radius: 10px;
  color: white;
  display: block;
  margin: auto;
  border: 0;
  padding: .5em 1em;
}

.show-mob {
  display: none;
}

.sec5 {
  padding-top: 6em;
}

.sec5 .title {
  margin-bottom: 4em;
}

.sec5 .swiper-news {
  color: white;
  position: relative;
}

.sec5 .swiper-news .img {
  background: white;
  width: 100%;
  height: 250px;
}

.sec5 .swiper-news h2 {
  font-family: 'Kanit', sans-serif !important;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1em;
}

.sec5 .swiper-news p {
  font-family: 'Kanit', sans-serif !important;
  font-weight: 300;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.sec5 .swiper-news .news-card {
  background: #0d1c34;
  padding: 4em;
  border-radius: 35px;
}

.sec5 .swiper-news .naveg {
  position: absolute;
  width: 112%;
  left: -6%;
  top: 50%;
}

.sec5 .swiper-news .swiper-button-next:after,
.sec5 .swiper-news .swiper-container-rtl .swiper-button-prev:after,
.sec5 .swiper-news .swiper-button-prev:after,
.sec5 .swiper-news .swiper-container-rtl .swiper-button-next:after {
  content: "";
}

.sec5 .swiper-news .fa-chevron-circle-left:before,
.sec5 .swiper-news .fa-chevron-circle-right:before {
  font-size: 30px;
  color: white;
}

.sec5 .swiper-news .bg-s {
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 12%;
  background: #000;
  z-index: 1;
}

.sec5 .swiper-news .bg-s.bg-l {
  left: -12%;
}

.sec5 .swiper-news .bg-s.bg-r {
  right: -12%;
}

.footer {
  position: relative;
}

.footer img {
  width: 100%;
}

.footer li {
  text-align: center;
}

.footer li a {
  color: #FFF;
}

.footer .content-footer {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
}

.footer .logo {
  width: 90%;
}

.footer .left {
  position: absolute;
  top: 20%;
  left: 0;
  width: 15%;
}

.navbar-toggler-icon {
  background-image: url("../images/menu-icon-white.jpg");
}

@media (min-width: 1024px) and (max-width: 1250px) {
  .banner .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .banner .navbar .nav-link {
    font-size: 1.4vw;
  }
  .banner .navbar li.nav-item {
    margin: 0;
  }
}

@media only screen and (min-width: 1450px) {
  .sec3 .swiper-slide {
    height: 190px !important;
    width: 190px !important;
  }
}

@media only screen and (max-width: 991px) {
  .banner {
    padding-top: 1em;
    margin-top: 3em;
    overflow: inherit;
  }
  .banner .navbar {
    top: -3em;
  }
  .banner .navbar {
    padding: 0;
  }
  div#navbarSupportedContent {
    background: black;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media only screen and (max-width: 480px) {
  .title .right,
  .title .left {
    display: none;
    width: 45%;
    bottom: 100%;
  }
  .footer .content-footer {
    padding-top: 3em;
    padding-bottom: 2em;
    background: url("../images/Footer.png");
    background-size: cover;
    background-position: center;
  }
  .footer .bg {
    display: none;
  }
  .footer li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  a.navbar-brand img {
    width: 60%;
  }
  a.navbar-brand {
    width: 75%;
  }
  .sec2 .card {
    height: 360px;
  }
  .sec5 .swiper-news .naveg {
    width: 25%;
    left: 37%;
    top: 91%;
  }
  .sec5 .swiper-news .news-card {
    padding: 3em 2em 5em 2em;
    border-radius: 35px;
    text-align: center;
  }
  .sec5 .swiper-news h2 {
    font-size: 22px;
    margin-top: 2em;
  }
  .sec4.mt-50 {
    margin-top: 0;
  }
  .show-mob-up {
    display: none !important;
  }
  .show-mob {
    display: block;
  }
  .sec1 .card {
    height: 340px;
    width: 80%;
    margin: auto;
  }
  .sec5.sec1 .swiper-news .naveg {
    width: 100%;
    left: 0;
    top: 50%;
  }
  .sec1.sec5 {
    padding-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */